<p-card class="cardshow">
  <div class="card" *ngIf="create">
    <section class="fechas p-fluid p-grid p-formgrid">
      <div class="fechaInicio">
        <label for="fechaInicio">Fecha Inicio</label>
        <p-calendar
          [showIcon]="true"
          [(ngModel)]="fechaInicio"
          [minDate]="minDateValue"
          [readonlyInput]="true"
          (onSelect)="changeFinalDate(fechaInicio)"
        ></p-calendar>
      </div>
      <div class="fechaFinal">
        <label for="fechaFinal">Fecha final</label>
        <p-calendar
          [showIcon]="true"
          [(ngModel)]="fechaFinal"
          [minDate]="minDateValueAfter"
          [minDate]="minDateValue"
          [readonlyInput]="true"
        ></p-calendar>
      </div>
      <p-button
        label="Submit"
        (onClick)="createMembresia(fechaInicio, fechaFinal)"
      ></p-button>
    </section>
  </div>
  <div class="card" *ngFor="let mem of membresias">
    <div class="ca">
      <h3>Dias Restantes: {{ mem.diasRestantes }}</h3>
      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        severity="danger"
        size="small"
        (onClick)="deleteById(mem.id)"
      ></p-button>
    </div>
    <p-splitter [style]="{ height: '50px' }" styleClass="mb-5" class="splitter">
      <ng-template pTemplate>
        <div class="cole">Fecha de inicio: {{ mem.fechaInicio }}</div>
      </ng-template>
      <ng-template pTemplate>
        <div class="cole flex align-items-center justify-content-center">
          Fecha de final: {{ mem.fechaFin }}
        </div>
      </ng-template>
    </p-splitter>
    <p-divider></p-divider>
    <div class="cole flex align-items-center justify-content-center">
      <h3>Progreso restante</h3>
      <mat-progress-spinner 
      [diameter]="200" 
      class="example-margin" 
      [value]="value">
      </mat-progress-spinner>
      <div style="position:relative; top: -108px; left: 5px;"> {{value}}% </div>
    </div>
    <!--     <p-progressBar  [value]="value"></p-progressBar> -->
  </div>
</p-card>
