.filter-section {
    margin-bottom: 20px;

    label {
        margin-right: 10px;
    }

    select {
        padding: 5px;
        margin-right: 20px;
    }
}

.ejercicios-list {
    h2 {
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 5px;
        }
    }
}